mat-sidenav {
    background-color: #0f172a;
    width: 230px;
    height: 100%;
}

mat-sidenav-content {
    height: 100vh;
    background-color: cadetblue;
}

mat-sidenav-content .main {
    margin-left: 30px;
}

mat-toolbar mat-icon {
    margin-left: 15px;
    color: green;
}

mat-toolbar {
    justify-content: space-between;
}

mat-toolbar .box {
    margin-top: 10px;
}